

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CryptPass</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>

<h1 class="text-center">Password Manager</h1>

<app-record-item></app-record-item>
<br>

<!--
<div class="container">
  <div class="row">

    <div class="col-lg-12 p-5">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        Encryption
      </button>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="txtTextToConvert">Username / Email</label>
            <input type="text" class="form-control" placeholder="Enter text you want to encrypt"
              [(ngModel)]="plainText">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" class="form-control" placeholder="Enter encryption password"
              [(ngModel)]="encPassword">
          </div>
        </div>
      </div>
      <textarea class="form-control" readonly rows="3">{{conversionEncryptOutput}}</textarea>
      <br>
      <button type="button" class="btn btn-success float-right" (click)="convertText('encrypt')">Encrypt</button>


    </div>

  </div>



  <div class="row">



    <div class="col-sm-6">
      <button type="button" class="btn btn-dark btn-lg btn-block">
        Decryption
      </button>
      <br>
      <div class="form-group">
        <label for="txtTextToConvert">Encrypted Text</label>
        <input type="text" class="form-control" placeholder="Enter text you want to decrypt" [(ngModel)]="encryptText">
      </div>

      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" placeholder="Enter decryption password" [(ngModel)]="decPassword">
      </div>
      <textarea class="form-control" readonly rows="3">{{conversionDecryptOutput}}</textarea>
      <br>
      <button type="button" class="btn btn-success float-right" (click)="convertText('decrypt')">Decrypt</button>
    </div>
  </div>
</div>
-->
